.button {
    padding: 8px 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    color: var(--p-light);
    border: 2px solid var(--button-border);
    background-color: var(--button-bg);
    box-shadow: 4px 2px 6px color-mix(in srgb, var(--button-bg) 20%, transparent);
    font-size: 16px;
    border-radius: 12px;
}

.button:hover {
    background-color: var(--button-hover-bg);
    border-color: var(--button-hover-border);
    color: var(--button-hover-text);
    cursor: pointer;
    box-shadow: 2px 2px 4px color-mix(in srgb, var(--button-bg) 20%, transparent);
}

