.button {
    padding: 8px 10px;
    flex-direction: row;
    align-items: center;

    gap: 10px;
    color: var(--button-text);
    border: 1px solid var(--button-border);
    background-color: var(--button-bg);
    box-shadow: 2px 2px 4px color-mix(in srgb, var(--button-bg) 20%, transparent);
    font-size: 16px;
    border-radius: 12px;
    user-select: none;
}

.button:hover {
    cursor: pointer;
    box-shadow: 4px 2px 6px color-mix(in srgb, var(--button-bg) 20%, transparent);
}

