.header {
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
}

.header .nav {
    width: 100%;
    height: auto;
    padding: 10px 15px;
    flex-direction: row;
    justify-content: space-between;

}

.header .nav svg {
    color: var(--icon);
    cursor: pointer;
}

.header .nav svg:hover {
    color: #000000;
}

.header .banner-and-avatar {
    width: 100%;
}

.header .banner {
    width: 100%;
    aspect-ratio: 5/1;
    position: relative;
    border-top: 1px solid var(--div-border);
    border-bottom: 2px solid var(--div-border);
}

.header .banner .avatar {
    height: 80%;
    background-color: var(--content-bg);
    aspect-ratio: 1/1;
    position: absolute;
    border: 1px solid black;
    border-radius: 50%;
    bottom: -40%;
    left: 5%;
    z-index: 1;
}

.header .profile-button-cont {
    width: 100%;
    aspect-ratio: 1 / 0.08;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 15px;
    align-items: center;
}