.header {
    width: 100%;
    background-color: var(--content-bg);
    margin-bottom: 8px;
    align-items: center;
    padding: 12px;
    justify-content: center;
}

.header .content {
    max-width: 1000px;
    width: calc(100% - 24px);
    gap: 16px;
    align-items: center;
    flex-direction: row;
    height: 100%;
}


.header .info-cont {
    min-width: 0;
    flex-direction: column;
}


.header .info-cont .title {
    color: var(--main);
    font-size: 18px;
    min-width: 0;
}

.header .info-cont .address {
    color: var(--p-light-sub);
    font-size: 14px;
    min-width: 0;
}

.header .info-cont p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}