.mini-profile {
    width: 100%;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    border-radius: 100px;
    min-width: 200px;
}

.mini-profile:hover {
    cursor: pointer;
    background-color: var(--div-hover);
}

.mini-profile .profile-info {
    gap: 5px;
    flex-direction: row;
}

.mini-profile img {
    aspect-ratio: 1/1;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: var(--content-bg);
}

.mini-profile .name-info {
    flex-direction: column;
    padding: 0 5px;
}

.mini-profile .name-info .firstname {
    font-size: 16px;
    color: var(--p-dark);
}

.mini-profile .name-info .login {
    font-size: 16px;
    color: var(--p-dark-sub);
}

.mini-profile svg {
    color: var(--p-dark);
    width: 20px;
    height: 20px;
}